.scroll-btn {
  position: absolute;
  width: 100px;
  margin-left: -50px;
  bottom: 20px;
  left: 50%;
  text-align: center;
  font-size: 60px;
  color: #DCDCDC;
}

@media only screen and (max-width: 768px) {
  .scroll-btn {
    color: transparent;
  }
}


.fadeInHome {
  animation: fadeInHome 0.5s 0.3s ease forwards;
  -moz-animation: fadeInHome 0.5s 0.3s ease forwards;
  -webkit-animation: fadeInHome 0.5s 0.3s ease forwards;

  opacity: 0;
  transform: translateY(-20px);
}

@keyframes fadeInHome {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInHome {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInHome {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeInArrow{
  animation: fadeInArrow 0.5s 0.5s ease forwards;
  -moz-animation: fadeInArrow 0.5s 0.5s ease forwards;
  -webkit-animation: fadeInArrow 0.5s 0.5s ease forwards;

  opacity: 0;
}

@keyframes fadeInArrow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInArrow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInArrow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}