#work-exemple {
  background-color:$lighter-grey;
  .btn {
    @media (max-width: $screen-xs) {
      width: 100%;
    }
  }
}

#work {
  background-color:$lighter-grey;
}

.works {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.work-container {
  position: relative;
  background-size: cover;
  display: flex;
  flex-flow: column;
  padding: 15px;
  flex: 0 0 25%;

  @media (max-width: $screen-md) { flex: 0 0 50% }
  @media (max-width: $screen-xs) { flex: 0 0 100% }
  img {
    margin: auto;
  }
}

.work-url {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 4;
}

.work-item {
  width: 100%;
}

.work-item-thumbnail {
  img { width: 100% }
  // width: 100%;
  // height: 230px;
  // margin-right: 0;
  // align-items: center;
  // justify-content: center;
  // display: flex;
  // position: relative;
  // border-radius: 0;
  //box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.14);
}
