// Your footer style

#footer {
  background-color: $dark-grey;
  padding:20px 0;
  color:white;
  p {
    padding-top: 20px;
  }
  a {
    color:white;
    &:hover {
    color: lighten($dark-grey, 40%);
    text-decoration: none;
    }
  }
}
