/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

.sh-padded {
  padding-top: 1em;
}

.mh-padded {
  padding-bottom: 1em;
}

// .vertical-padded {
//   padding-top: 200px;

//   }

.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.img-small {
  width: 100px;
}

.img-full {
  width: 100%;
  min-widht: 500px;
}

.icon-small {
  font-size: 25px;
  padding: 0 15px;
  padding-top: 7px;
}

.img-medium {
  width: 250px;
}

.img-padded {
  margin-top: 25px;
  margin-bottom: 25px

}



