#banner {
  position: relative;
  background: image-url('banner.jpg') no-repeat bottom center scroll;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  background-size: cover;

  // background-position: center center;
  padding-top: 250px;
  padding-bottom: 250px;
  width: 100%;
  height: 100%;
  h1 {
    color:white !important;
  }
}

// @media only screen and (min-width: 768px) {
//   #banner {
//     background-image: image-url('banner2.jpg');
//   }
// }

// @media only screen and (max-width: 767px) {
//   #banner {
//     background-image: image-url('banner_phone.jpg');
//   }
// }


#work-exemple {
  background-color:$lighter-grey;
}


