// .project-banner{
//  position: relative;
//  // -webkit-background-size: cover;
//  // -moz-background-size: cover;
//  // -o-background-size: cover;
//  // padding-top: 250px;
//  // padding-bottom: 250px;
//  height: 100%;
//  min-height: 500px;
// }

// #banner-balloon {
//  background: image-url('work/balloon/balloon-banner.jpg')no-repeat center center fixed;
//  background-size: cover;
// }

// @media only screen and (max-width: 1024px) {
//   #banner-balloon {
//     background: image-url('work/balloon/balloon-banner.jpg') no-repeat center center scroll;
//   }
// }


// #banner-something {
//  background: image-url('work/something/something-banner.jpg')no-repeat center center fixed;
//  background-size: cover;
// }

// @media only screen and (max-width: 1024px) {
//   #banner-something {
//     background: image-url('work/something/something-banner.jpg') no-repeat center center scroll;
//   }
// }

// #banner-prima {
//  background: image-url('work/prima/prima-banner.jpg')no-repeat center center fixed;
//  background-size: cover;
// }

// @media only screen and (max-width: 1024px) {
//   #banner-prima {
//     background: image-url('work/prima/prima-banner.jpg') no-repeat center center scroll;
//   }
// }

// #banner-siaurac {
//  background: image-url('work/siaurac/siaurac-banner.jpg')no-repeat center center fixed;
//  background-size: cover;
// }

// @media only screen and (max-width: 1024px) {
//   #banner-siaurac {
//     background: image-url('work/siaurac/siaurac-banner.jpg') no-repeat center center scroll;
//   }
// }

// #banner-requiem {
//  background: image-url('work/requiem/requiem-banner.jpg')no-repeat center center fixed;
//  background-size: cover;
// }

// @media only screen and (max-width: 1024px) {
//   #banner-requiem {
//     background: image-url('work/requiem/requiem-banner.jpg') no-repeat center center scroll;
//   }
// }

// #banner-foodstore {
//  background: image-url('work/foodstore/foodstore-banner.jpg')no-repeat center center fixed;
//  background-size: cover;
// }

// @media only screen and (max-width: 1024px) {
//   #banner-foodstore {
//     background: image-url('work/foodstore/foodstore-banner.jpg') no-repeat center center scroll;
//   }
// }

// #banner-ddhc {
//  background: image-url('work/ddhc/ddhc-banner.jpg')no-repeat center center fixed;
//  background-size: cover;
// }

// @media only screen and (max-width: 1024px) {
//   #banner-ddhc {
//     background: image-url('work/ddhc/ddhc-banner.jpg') no-repeat center center scroll;
//   }
// }

// #banner-ddp {
//  background: image-url('work/ddp/ddp-banner.jpg')no-repeat center center fixed;
//  background-size: cover;
// }

// @media only screen and (max-width: 1024px) {
//   #banner-ddp {
//     background: image-url('work/ddp/ddp-banner.jpg') no-repeat center center scroll;
//   }
// }

// #banner-egg {
//  background: image-url('work/egg/egg-banner.jpg')no-repeat center center fixed;
//  background-size: cover;
// }

// @media only screen and (max-width: 1024px) {
//   #banner-egg {
//     background: image-url('work/egg/egg-banner.jpg') no-repeat center center scroll;
//   }
// }

// #banner-heinz {
//  background: image-url('work/heinz/heinz-banner.jpg')no-repeat center center fixed;
//  background-size: cover;
// }

// @media only screen and (max-width: 1024px) {
//   #banner-heinz {
//     background: image-url('work/heinz/heinz-banner.jpg') no-repeat center center scroll;
//   }
// }

// #banner-lafourmi {
//  background: image-url('work/lafourmi/lafourmi-banner.jpg')no-repeat center center fixed;
//  background-size: cover;
// }

// @media only screen and (max-width: 1024px) {
//   #banner-lafourmi {
//     background: image-url('work/lafourmi/lafourmi-banner.jpg') no-repeat center center scroll;
//   }
// }

// #banner-two {
//  background: image-url('work/two/two-banner.jpg')no-repeat center center fixed;
//  background-size: cover;
// }

// @media only screen and (max-width: 1024px) {
//   #banner-two {
//     background: image-url('work/two/two-banner.jpg') no-repeat center center scroll;
//   }
// }

.project-link {

}

#project {
  background-color:$lighter-grey;
  p {
    padding-bottom: 2em;
  }
  img {
    margin: 25px auto;
  }
}
