html {
  height: 100%;
}

body {
  color: $light-grey;
  font-weight: 100 !important;
  height: 100%;
}


.subhead-big {
  font-size: 1.2em;
  font-weight: 500;
  color: $dark-grey;
}

// h2 {
//   font-family: $base-font;
//   color: $grey;
//   line-height: 3px !important;
// }

// h3 {
//   color: $red !important;
//   text-transform: uppercase;
// }

// h4 {
//   color: $red !important;
// }
