/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600|Roboto+Condensed:400,300,700|Lato:400,300,700");
$base-font: "Bodoni", "serif";
$header-font: "Bodoni-italic", "serif";


@font-face {
	font-family: "Bodoni";
	src: font-url('BodoniStd-Book.otf') format('opentype');
}
@font-face {
	font-family: "Bodoni-italic";
	src: font-url('BodoniStd-BoldItalic.otf') format('opentype');
}

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 15px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme

$red: #FF6D5E;
$black: #333333;
$dark-grey: #2E2B2B;
$light-grey: #54626F;
$lighter-grey: #EFEFEF;

