<div class="container-fluid">
	<div class="navigation-phrase">
		<p>
			BLBRD is a <%= link_to "multi-skilled studio", "/about.html", class:"txt-bold"%> based in Paris. Our goal is to make <span class="txt-bold">timeless, powerful, consistent and elegant</span> design for your brand. <br> <%= link_to "Look at", "/index.html", class:"txt-bold"%> our work, and <%= mail_to "karine.blbrd@gmail.com", "drop us a word", class: "txt-bold" %> to talk about your project, or just to say hello!</p>
	</div>
</div>
