---
title: BLBRD - Services
---


<div id="about" class="text-center vertical-padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <%= image_tag "simplicity.svg", alt: "simplicity"%>
          </div>
      </div>
    </div>
  </div>

  <div class="arrow-container fadeInArrow">
    <a href="#"><i class="fa fa-angle-down scroll-btn"></i>
    </a>
  </div>
</div>
