---
title: BLBRD - Creative Studio in Paris
---


<div id="banner" class="text-center">
  <div class="fadeInHome">
    <h1>INDEPENDANT DESIGN STUDIO LED BY CREATIVES</h1>
    <span class="subhead-big">
      Timeless, Powerful, Consistent and Elegant Design for your brand
    </span>
    <br>
    <%=link_to"See the portfolio", "/work.html", class: "btn btn-info btn-lg"%>
  </div>
  <div class="arrow-container fadeInArrow">
    <a href="#services"><i class="fa fa-angle-down scroll-btn"></i>
    </a>
  </div>
</div>

<div id="services">

</div>
