---
title: BLBRD - Portfolio
---


<div id="work" class="padded text-center">
  <div class="container">
    <div class="works">
      <% data.portfolio.each do |p| %>
        <div class="work-container">
          <div class="work-thumbnail">
            <div class='work-item'>
              <div class='work-item-thumbnail'>
                <%= image_tag p.img_path %>
              </div>
            </div>
          </div>
          <div class="work-container-hover text-center">
            <a class='work-url' href= <%= p.url %> ></a>
            <h4><%= p.name %></h4>
            <p><%= p.type %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>







