---
title: BLBRD - Portfolio
---


<div id="work-exemple" class="padded text-center">
  <div class="container">
    <div class="row">
      <% data.portfolio.each do |work| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <a href="<%= work.url %>">
          <%= image_tag work.picture, class: "img-medium img-padded" %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
